<a href="https://colab.research.google.com/github/Manikanta649/python/blob/master/Day6(06_07_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Gitam")
print("Gitam")
print("Gitam")
print("Gitam")
print("Gitam")

Gitam
Gitam
Gitam
Gitam
Gitam

In [0]:
x = 0
while x < 5 :
    print("Gitam")
    x = x + 1

Gitam
Gitam
Gitam
Gitam
Gitam

In [0]:
n = int(input("Enter a Number"))
i = 1
while i <= n : 
    print(i,end = " ")
    i = i + 1

Enter a Number10
1 2 3 4 5 6 7 8 9 10

In [0]:
n = int(input('Enter a Number '))
i = 1
sum = 0
while i <= n:
    if i % 2 == 0:
        sum = sum + i
    i = i + 1
print(sum)

Enter a Number 10
30

In [0]:
n = int(input('Enter a Number '))
while n != 0:
    r = n % 10
    print(r,end = " ")
    n = n // 10

Enter a Number 123
3 2 1

In [0]:
def addEvenDigits(n):
    sum = 0
    while n != 0:
        r = n % 10
        if r % 2 == 0:
            sum = sum + r
        n = n // 10
    print(sum)
    return
addEvenDigits(1234)

6

In [0]:
def printLarge(n) :
    large = 0
    while n != 0 :
        r = n % 10
        if large < r:
            large = r
        n = n // 10    
    return large
printLarge(19528)

9

In [0]:
def ispalindrome(n) :
    rev = 0
    buffer = n
    while n != 0:
        r = n % 10
        rev = rev * 10 + r
        n = n // 10
    if buffer == rev:
        return "Yes"
    else:
        return"No"
print(ispalindrome(123))  
print(ispalindrome(121))

No
Yes

In [0]:
def printSeries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=" ")
    return
printSeries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
def alternateNumbers(lb,ub):
    for x in range(lb,ub+1,4):
        print(x,end=" ")
    return
alternateNumbers(100,150)

100 104 108 112 116 120 124 128 132 136 140 144 148