<a href="https://colab.research.google.com/github/Manikanta649/python/blob/master/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics


* ***Point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 

> 1. Point1
> 2. Point2

* ***Adding Links to Markdown***
* Google site -- .[1].: http://www.google.com
* msn site      -- .[2].: http://www.msn.com
- .[.].option 1

* Google Site -- [Google].[1]
[1]: http://www.google.com

In [1]:
print ("hello world")

hello world

In [2]:
print ("Hello, Gitam")
print ("Hyderabad")

Hello, Gitam
Hyderabad

In [3]:
print ("Hello, Gitam", " ||| ",end = " ")
print ("Hyderabad",end=" ||| ")
print ("Python Programming")

Hello, Gitam  |||  Hyderabad ||| Python Programming

In [4]:
n1 = 100 # single Variable Assignment
a = b = c = 20 # Multi variable Assignment of the same value
a1,b1,c1 = 111,222,333 # Multi variable Assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [5]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [6]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [7]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [8]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

# Reading a value
* input("Message") --string

In [10]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameManikanta
Manikanta
<class 'str'>

In [11]:
# Want a number as a input
n1 = int(input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

## Operators
* operator is a symbols is used to performe a specific kind of operations
### Arithetic Operators
* +
* /
* -
* *
* %
 
  **
* //

In [12]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [17]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [16]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
* ==
* [ =
* Greater(>)
* Less than(<)
* less than or equals to(<=)
* Greater than or equals to(>=)

In [18]:
x = 10
a1 = x > 15
print(a1)

False

In [19]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### Control flow statements
* Conditional Statements
* Looping Statements

#### if  -else statement

**Syntax**

* if Boolean_Condition:
* Statements
* else :
* statements

In [25]:
n = int(input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number13
Odd

In [26]:
n = int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a number10
No

In [29]:
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negative Number")

Enter a number-5
Negative Number

In [31]:
n = int(input("Enter the year"))
if n%4 == 0:
    print("given year is a leap year")
else:
    print("given year is not a leap year")

Enter the year2002
given year is not a leap year

In [35]:
a = int(input("Enter triangle side"))
b = int(input("Enter triangle side"))
c = int(input("Enter triangle side"))
if a + b >= c and a + c >= b and b + c >= a:
    print("triangle is valid")
else:
    print("triangle is invalid")

Enter triangle side4
Enter triangle side5
Enter triangle side4
triangle is valid

In [42]:
n = int(input("Enter celsius"))
f = (a - 32) / 180
print(f)

Enter celsius3
-0.15555555555555556

In [45]:
a = int(input("Enter the a value"))
b = int(input("Enter the b value"))
c = int(input("Enter the c value"))
if a > b and b > c:
    print("a is largest")
elif b > a and b > c:
    print("b is largest")
elif c > a and c > b:
    print("c is largest")

Enter the a value2
Enter the b value3
Enter the c value4
c is largest

In [52]:
a = int(input("Enter the a value"))
if a == 1:
    print("Monday")
elif a == 2:
    print("tuesday")
elif a == 3:
    print("wednesday")
elif a == 4:
    print("thursday")
elif a == 5:
    print("friday")
elif a == 6:
    print("saturday")
elif a == 7:
    print("sunday")
elif a > 7:
    print("invalid")

Enter the a value4
thursday

In [0]:
a = int(input("Enter the a value"))
b = int(input("Enter the b value"))
c = int(input("Enter the c value"))
d = (b * b) - (4 * a * c)
if a == 0:
    print("invalid")
elif d == 0:
    print("roots are equal, root is", (- b / 2 * a))
elif d > 0:
    print("roots are real and not equal, root is", (- b + sqrt(d))(2 * a), (- b - sqrt(d)(2*a))) 
elif d < 0:
    print("roots are distant, root is", (- b(2 * a)), "+i", (sqrt(- d) / (2 * a)), ((-b)(2 * a)), "-i", (sqrt(-d)(2 * a)))

In [0]:
`