<a href="https://colab.research.google.com/github/Manikanta649/python/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import math
def Nth_of_GP(a, r, N):
    return(a * (int)(math.pow(r, N - 1)) )
a = 2
r = 3
N = 5
print("The", N, "th term of the series is :",
                            Nth_of_GP(a,r,N))

The 5 th term of the series is : 162

In [25]:
def printPattern(n) : 
 
   j, k = 0, 0
 
   # loop to decide the row number  
   for i in range(1, n + 1) : 
 
       # if row number is odd  
       if i % 2 != 0 : 
 
           # print numbers with 
           # the '*' sign in  
           # increasing order  
           for j in range(k + 1, k + i) : 
 
               print(str(j) + "*",  
                         end = "") 
 
           j = k + i 
           print(j) 
           j += 1
 
           # update value of 'k'  
           k = j 
 
       # if row number is even 
       else : 
 
           # update value of 'k'  
           k = k + i - 1
 
           # print numbers with the  
           # '*' in decreasing order  
           for j in range(k, k - i + 1, -1) : 
               print(str(j) + "*", end = "") 
 
           j = k - i + 1
           print(j) 
 
# Driver Code 
if __name__ == "__main__" : 
   n = 5
 
   # function calling  
   printPattern(n) 
             
# This code is contributed  
# by ANKITRAI1

1
3*2
4*5*6
10*9*8*7
11*12*13*14*15

In [16]:
def Q1(x):
    while x-2!=0:
        a=0
        b=1
        c=0
        for i in range(x-2):
            c=a+b
            a=b
            b=c
        print(c,end=" ")
        x-=1
    print('1 0')
    return
Q1(int(input("enter number")))

enter number5
3 2 1 1 0

In [17]:
def Q2(n):
    a=[]
    s=0
    for i in range(n):
        a.append(int(input()))
    for i in range(n):
        c=0
        for j in range(n):
            if i!=j:
                if a[i]==a[j]:
                    c+=1
        if c==0:
            s=s+a[i]
    return s
Q2(int(input("no of values")))

no of values5
44
66
44
99
66

99

In [18]:
def Q3(a,b):
    if len(a)<=len(b):
        n=len(a)
        k=len(b)
    else:
        n=len(b)
        k=len(a)
    for i in range(n):
        print(a[i],b[i])
    for j in range(n,k):
        if(len(a)<=len(b)):
            print(b[j],'*')
        else:
            print(a[j],'*')
    return
x=str(input("enter str:"))
x=x.split()
Q3(x[0],x[1])

enter str:uihvew goihfhi fhie
u g
i o
h i
v h
e f
w h
i *

In [20]:
def Q4(a,b):
    if len(a)>=len(b):
        print(a.upper())
    else:
        print(b.upper())
    return
x=str(input("enter str:"))
x=x.split()
Q4(x[0],x[1])

enter str:mani ghi
MANI

In [21]:
def Q5_1(a):
    a=a.split()
    for i in range (len(a)):
        if a[i].istitle()==True:
            print(a[i].upper(),end= " ")
    return
x=str(input("enter str:"))
Q5_1(x)

enter str:Manikanta inapakurthi
MANIKANTA

In [22]:
def Q7(n):
    for i in range(len(n)):
        n[i]=int(n[i])
    for i in range(len(n)):
        for j in range(n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num")
Q7(list(x))

enter num8688202197
********
******
********
********
**

**
*
*********
*******